<%= form_tag(post_comm_index_path, :method => "post", :remote => true) do %>
  <%= label_tag(:n, "Nickname") %>
  <%= text_field_tag(:n) %>
  <%= label_tag(:b, "Comment") %>
  <%= text_field_tag(:b) %>
  <%= submit_tag("Debate") %>
<% end %>
