<div id="content">
  <% if @session %>
  <%= link_to 'New', "posts/new", :remote => true%>
  <% end %>
  <% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <ul>  
    <% @posts.each do |post| %> 
    <li><%= link_to post.title,  post, :remote => true %> 
      <% if @session %>
      <small><%= link_to "Delete", post, :method => :delete, :remote => true %></small>
      <% end %>
      <br/> 
      <%= post.body[0..200] %>… </li>
    <% end %>
  </ul>
</div>
