<div id="content">
<%= form_tag("/posts", :method => "post", :remote => true) do %>
  <%= label_tag(:t, "Title") %>
  <br/>
  <%= text_field_tag(:t) %>
  <br/>
  <%= label_tag(:b, "Body") %>
  <br/>
  <%= text_area_tag(:b) %>
  <br/>
  <%= submit_tag("Post") %>
<% end %>
<div>
