<div id="content">
  <%= link_to "Home",  :root, :remote => true %>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
  <h2>Comments :</h2>
  <ul>  
    <% @comm.each do |c| %> 
    <li>
      <%= c.nick%>
      <br/>
      <%= c.body %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Add comment", ["/posts/",@post.id,"/comm/new"].join, :remote => true, :id => :new_comment%>



<div>
