<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to  "My lovely blog", :root, :remote => false %></h1>
<p class="conn">
<% if @session %>
<%= link_to "Disconnect", "/posts?disc=1"  %>
<% else %>
<a href="http://localhost:4567/blog/session/new?origin="> Connect </a>
<% end %>
</p>

<%= yield %>

</body>
</html>
